@model ProductStore.Views.ViewModels.ProductListViewModel

<h2>Danh sách sản phẩm</h2>

<a asp-action="Create" class="btn btn-primary">Thêm sản phẩm</a>

<table class="table table-bordered mt-2">
    <tr>
        <th>Type</th>
        <th>Availability</th>
        <th>Stock</th>
    </tr>

    @foreach (var p in Model.Products)
    {
        <tr>
            <td>@p.Type</td>
            <td>@(p.Availability ? "Available" : "Not Available")</td>
            <td>@p.Stock</td>
        </tr>
    }
</table>

<div page-model="@Model.PagingInfo" page-action="Index"></div>
